*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* サイズ計算をより予測しやすくするためのプロパティ */
}
main{
    background-color: #000506;
}
h1 {
    color: #FEF4DC;
}
.header {
    width: 100%;
    background-color: #000506;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 1em 0;
}
.nav {
    display: flex;
    justify-content: space-between; /* リンクを左端と右端に配置 */
    gap: 1em;
}
.nav a {
    text-decoration: none;
    font-size: 24px;
    color: #FEF4DC;
    padding: 0.5em 1em;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.nav a:last-child {
    margin-left: auto; /* 最後のリンクを右端に移動 */
}
.batu{
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.batu::before, .batu::after{
    position: absolute;
    content: "";
    width: 6px;
    height: 30px;
    background: #fdddb5;
}
.batu::before{
    transform: rotate(45deg);
    left: 50%;
}
.batu::after{
    transform: rotate(-45deg);
    left: 50%;
}
.post_main{
    display: flex;
    justify-content: space-around;
}
.post_bottons_contaner{
    flex-direction: column;
    height: 569px;
    background-color: #8D8D8D;
    width: 109px;
    padding-top: 41px;
    border-radius: 30px;
}
.post_bottons_three{
    width: 45px;
    background-color: #8D8D8D;
}
.post_bottons{
    margin-bottom: 26px;
    background-color: #8D8D8D;
    font-weight: 109px;
    text-align: center;
}
.post_bottons_one{
    background-color: #8D8D8D;
}
.tool{
    color: #FEF4DC;
    font-size: 24px;
    font-weight: bold;
}
.post_img_contaner{
    position: relative;
}
.post_change{
    z-index: 30;
    position: absolute;
    border: solid #15CE5f;
    color: #15CE5f;
    font-size: 24px;
    height: 54px;
    line-height: 54px;
    padding-left: 19px;
    padding-right: 19px;
    width: 200px;
    background-color: #000506;
    border-radius: 40px;
    margin-left: 36px;
}
.post_change_two{
    z-index: 20;
    position: absolute;
    font-size: 24px;
    color: #FEF4DC;
    height: 54px;
    width: 200px;
    border: solid #FEF4DC;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    top: 0px;
    left: 210px;
    padding-left: 34px;
    background-color: #000506;
    line-height: 54px;
}
.post_img{
    margin-top: 81px;
    margin-bottom: 48px;
}
.post_information_name{
    font-size: 32px;
    color: #fdddb5;
    font-weight: bold;
}
input{
    width: 471px;
    height: 37px;
    background-color: #FEF4DC;
    border-radius: 40px;
    size: 20;
}
textarea{
    width: 471px;
    background-color: #FEF4DC;
    height: 188px;
}
select{
    background-color: #FEF4DC;
    width: 471px;
    height: 37px;
    border-radius: 40px;
}
.sunlite{
    border: #FEF4DC solid;
    border-radius: 40px;
    height: 50px;
    width: 50px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.noon{
    height: 30px;
}