* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* サイズ計算をより予測しやすくするためのプロパティ */
}
h1 {
    color: #FEF4DC;
}
.header {
    width: 100%;
    background-color: #000506;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 1em 0;
}
.nav {
    display: flex;
    justify-content: space-between; /* リンクを左端と右端に配置 */
    gap: 1em;
}
.nav a {
    text-decoration: none;
    font-size: 24px;
    color: #FEF4DC;
    padding: 0.5em 1em;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.nav a:last-child {
    margin-left: auto; /* 最後のリンクを右端に移動*/
}

.up_section{
    text-align: center;
    background-color: #FEF4DC;
    width: 1300px;
    padding-bottom: 100px;
}
.main_section{
    background-color: #FEF4DC;
    padding-bottom: 100px;
}
.main_text{
    font-size: 40px;
    margin-left: 500px;
    font-weight: bold;
}
.main_img{
    background-color: #F5F4DA;
    border-radius: 50px;
    border: solid #E5DCD1;
    width: 400px;
    height: 400px;
    margin-left: 430px;
    margin-top: 40px;

}
.gatya{
    width: 250px;
    margin-left: 70px;
}
.main_text2, .main_text3{
    font-size: 30px;
    font-weight: bold;
}
.main_container2{
    display: flex;
    justify-content: space-around;
    width: 700px;
    margin-left: 300px;
    margin-top: 70px;
}
.main_container3,.main_container4{
    background-color: #f3c245;
    border-radius: 50px;
    border: solid black;
}
.main_container3{
    width: 200px;
    height: 60px;
}
.main_text2{
    margin-left: 45px;
    margin-top: 7px;
}
.main_container4{
    width: 250px;
}
.main_text3{
    margin-top: 7px;
    margin-left: 25px;
}
.get_section{
    background-color: #FEF4DC;
    padding-bottom: 100px;
    width: 1200px;
}
.get_text{
    padding-top: 70px;
    font-weight: bold;
    font-size: 40px;
    margin-left: 320px;
}
.get_img{
    margin-left: 500px;
    margin-top: 50px;
}
.get_container3{
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
}
.get_img2{
    width: 230px;
}