* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* サイズ計算をより予測しやすくするためのプロパティ */
}
h1 {
    color: #FEF4DC;
}
.header {
    width: 100%;
    background-color: #000506;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 1em 0;
}
.nav {
    display: flex;
    justify-content: space-between; /* リンクを左端と右端に配置 */
    gap: 1em;
}
.nav a {
    text-decoration: none;
    font-size: 24px;
    color: #FEF4DC;
    padding: 0.5em 1em;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.nav a:last-child {
    margin-left: auto; /* 最後のリンクを右端に移動 */
}

.cafe-info{
    width: 100%;
    height: 614px;
    background-color: #121212;
    display: flex;
}
.Store_name{
    margin-top: 30px;
    margin-left: 40px;
}
.Store_name h1{
    font-size: 40px;
    color: #F6EFED;
}
.Store_name p{
    font-size: 12px;
    color: #CAB9AB;
}
.rating{
    margin-top: 20px;
    margin-left: 40px;
}
.rating h1{
    font-size: 40px;
    color: #F6EFED;
}
.rating p{
    font-size: 14px;
    color: #CAB9AB;
}
.revew_name p{
    font-size: 13px;
    color: #F6EFED;
    margin-bottom: 4.7px;
    margin-right: 6px;
}
.stars {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star_line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

.star {
    width: 20px;
    height: 20px;
    background-color: gold;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    margin-right: 7px; /* 星と星の間のスペースを適宜調整 */
}

.star.empty {
    background-color: #fff;
    border: 1px solid gold;
}

/* 最後の星の右マージンを取り除く */
.star:last-child {
    margin-right: 0;
}
.main_revew{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 230px;
}
.reviw_contain{
    display: flex;
    margin-left: 30px;
    margin-top: 53px;
}
.info_container{
    width: 500px;
    height: 607px;
}
.image_container{
    width: 994px;
    height: 614px;
    border: 0.4px solid #FEF4DC;
}
.main_pin{
    width: 994px;
    height: 614px;
}
.chart{
    width: 230px;
    height: 230px;
}
.tags{
    margin-left: 30px;
    margin-bottom: 7px;
}
.tags p{
    font-size: 12px;
    color: #CAB9AB;
    margin-bottom: 3px;

}
.tags h2{
    font-size: 16px;
    color: #F6EFED;
    margin-left: 5px;
}

.main_bottom{
    width: 100%;
    height: 1010px;
    background-color: #E5DCD1;
}

.container {
    display: flex;
    flex-wrap: wrap;
  }
  .promotion {
    text-align: left;
    font-size: 14px;
  }
  .promotion p {
    margin: 5px 0;
    line-height: 1.2;
  }
  .promotion .price {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
  }
  .button {
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
  }
  .icon1 {
    width: 140px; /* アイコンのイメージサイズに合わせて調整 */
    height: 140px; /* アイコンのイメージサイズに合わせて調整 */
    background-color: #555555; /* アイコンの背景色 */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* 丸い形 */
    margin-left: 80px;
    margin-top: 20px;
  }
  .icon2 {
    width: 130px; /* アイコンのイメージサイズに合わせて調整 */
    height: 136px; /* アイコンのイメージサイズに合わせて調整 */
    background-color: #555555; /* アイコンの背景色 */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* 丸い形 */
    margin-right: 0px;
    margin-top: 30px;
  }

  .icon img {
    max-width: 50%;
    max-height: 50%;
  }
  .line1 {
    border-left: 1px solid #D4B59C; /* 縦の線を追加 */
    height: 223px; /* 縦線の高さを調整 */
    margin-left: 85px;
    margin-right: 85px;
  }
  .line2 {
    border-top: 1.4px solid #D4B59C; /* 横線を追加 */
    width: 706px; /* 横線の幅を調整 */
    margin-top: 8px; /* 上の要素との間隔 */
    margin-bottom: 8px; /* 下の要素との間隔 */
  }
  .line3 {
    border-top: 1.4px solid #D4B59C; /* 横線を追加 */
    width: 100%; /* 横線の幅を調整 */
  }
  .menu-item{
    display: flex;
  }
  .button {
    background-image: url('./../img/maps.png'); /* 画像のパスを設定 */
    background-size: cover; /* 画像がボタンのサイズに合うように調整 */
    background-position: center; /* 画像がボタンの中心に来るように */
    background-repeat: no-repeat; /* 画像が繰り返されないように */
    /* その他のスタイル */
    width: 140px; /* 必要に応じて調整 */
    height: 140px; /* 必要に応じて調整 */
    border: none; /* 枠線を無くす */
    padding: 0; /* パディングを無くす */
    overflow: hidden; /* はみ出した画像を隠す */
    text-indent: 100%; /* テキストを見えなくする */
    white-space: nowrap; /* テキストを一行にする */
    border-radius: 50%; /* ボタンを円形にする */
  }
  .button2 {
    background-image: url('./../img/menu.png'); /* 画像のパスを設定 */
    background-size: cover; /* 画像がボタンのサイズに合うように調整 */
    background-position: center; /* 画像がボタンの中心に来るように */
    background-repeat: no-repeat; /* 画像が繰り返されないように */
    /* その他のスタイル */
    width: 130px; /* 必要に応じて調整 */
    height: 136px; /* 必要に応じて調整 */
    border: none; /* 枠線を無くす */
    padding: 0; /* パディングを無くす */
    overflow: hidden; /* はみ出した画像を隠す */
    text-indent: 100%; /* テキストを見えなくする */
    white-space: nowrap; /* テキストを一行にする */
  }
  .bom1 h2{
    margin-left: 112px;
  }
  .bom2 h2{
    text-align: center;
    text-decoration: none;
  }
  .bom2 a{
    text-decoration: none;
    color: #000;
  }
  .story_place h3{
    color: #000000;
    font-size: 18px;
  }
  .bom1 a{
    text-decoration: none;
    color: #000;
  }












  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.movie_block{
    margin-right: 30px;
    overflow: hidden;
    width: 331px;
    height: 415px;
    background-color: #FFFCEF;
    border-radius: 30px;
    border: 0.4px solid #000000;
    box-shadow: 0px 4px 4px #000000c3;
    float: left;
    opacity: 0;  /* 初めは透明にしておきます */
    transition: opacity 1s; 
}

.movie_block.visible {
    opacity: 1;
}


.movie_space{
    width: 331px;
    height: 312px;
    background-color: #000;
}
.movie_place{
    width: 100%; /* 例えば、親要素の100%に設定 */
    height: 100%; /* 縦の長さはアスペクト比を維持 */
    border-radius: 30px 30px 0px 0px;
}
.text_place{
    width: 331px;
    height: 103px;
    border: 0.4px solid #000000;
    box-shadow: 0px 4px 20px #000000c3;
    border-radius: 0px 0px 30px 30px;
}
.movie_block h3{
    margin-top: 5px;
    margin-bottom: 5px;
    color:#000;
    text-align: center
}
.movie_block p{
    color:#958F81;
    font-size: 15px;
    margin-left: 12px;
    margin-right: 12px;
    line-height: 1.1;
}

.display_section2{
    width: 100%; 
    height: 1182px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FFF5DF;
    color: white;
    position: relative;
}

.pic_block{
    width: 405.94px;
    height: 405.94px;
    margin-right: 30px;
    margin-left: 30px;
    opacity: 0;  /* 初めは透明にしておきます */
    transition: opacity 1s; 
    box-shadow: 0px 4px 4px #000000c3;
    overflow: hidden;
    border-radius: 30px;
}
.pic_block.visible {
    opacity: 1;
}
.post_pic{
    width: 405.94px;
    height: 405.94px;
}

.show_space{
    display: flex;
    margin-top: 50px;
}
  